@media (min-width: 768px) {

#menu {
    display: none;
}

.navigation {
    display: flex;
    justify-content: center;
}

.navigation li {
    border: none;
}

.grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

}