@media (min-width:768px){

#menu{
display:none;
}

.navigation{
display:flex;
justify-content:center;
gap:2rem;
}

.grid{
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
}

.list section{
display:grid;
grid-template-columns:220px 1fr;
gap:2rem;
text-align:left;
align-items:center;
}

}