@media only screen and (min-width:768px){

.navigation{
flex-direction:row;
justify-content:center;
}

#members.grid{
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
}

#members.list section{
display:grid;
grid-template-columns:200px 1fr;
align-items:center;
gap:1rem;
text-align:left;
}

}